h1 {
  font-weight: 500;
  font-size: 44px;
}
h2 {
  font-weight: 500;
  font-size: 40px;
}
h3 {
  font-weight: 500;
  font-size: 32px;
}
h4 {
  font-weight: 500;
  font-size: 24px;
}
h5 {
  font-weight: 500;
  font-size: 20px;
}
h6 {
  font-weight: 500;
  font-size: 16px;
}

.body-xl {
  font-weight: 300;
  font-size: 20px;
}
.body-lg {
  font-weight: 300;
  font-size: 18px;
}
.body-md {
  font-weight: 300;
  font-size: 16px;
}
.body-sm {
  font-weight: 300;
  font-size: 14px;
}
.body-xs {
  font-weight: 300;
  font-size: 12px;
}
